.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 30px;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
  
  .header-container h1 {
    font-size: 24px;
    color: #004085;
    margin: 5px 0;
    font-weight: bold;
  }
  
  .header-container h2 {
    font-size: 16px;
    color: #444;
    margin: 0;
  }
  
  .header-container img.logo-img {
    max-height: 70px;
    margin: 0 10px; /* Add spacing between logos and text */
    background-color: transparent; /* Removes any background color */
    border: none; /* Removes any unwanted border */
  }
  